<!DOCTYPE html>
<!-- Created by ZaTribune on 22/jan/2021. -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: HeadFragment">
    <title></title>
</head>
<body>
<div class="container">
    <div th:replace="/fragments/header :: HeaderFragment"></div>
    <div class="row navbar navbar-dark p-2 bg-secondary">
        <h2 class="col navbar-text text-white">Product List</h2>
    </div>
    <div class="alert alert-info" th:if="${#lists.isEmpty(products)}">No products available.</div>
    <div class="row" id="myContainer">
        <table th:if="${not #lists.isEmpty(products)}" class="table table-striped">
            <tr>
                <th>#</th>
                <th>Description</th>
                <th>Price</th>
                <th>Image URL</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="product,stat : ${products}">
                <td th:text="${stat.index+1}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.imageUrl}"></td>
                <td><a class="text-decoration-none" th:href="${'/product/show/' + product.id.toHexString()}">View</a>
                </td>
                <td><a class="text-decoration-none" th:href="${'/product/edit/' + product.id.toHexString()}">Edit</a>
                </td>
                <td><a class="text-decoration-none"
                       th:href="${'/product/delete/' + product.id.toHexString()}">Delete</a></td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a class="btn btn-success m-1" href="/product/new"><span class="fa fa-plus p-1"></span>New Product</a>
        </div>
    </div>
</div>

</body>
</html>