<!DOCTYPE html>
<!-- Created by ZaTribune on 22/jan/2021. -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: HeadFragment">
    <title></title>
</head>
<body>
<div class="container mb-5">
    <div class="row" th:replace="/fragments/header :: HeaderFragment"></div>
    <div class="row d-flex p-2 navbar-dark bg-secondary">
        <a class="btn btn-outline-light btn-custom me-1 fa fa-backward" th:href="${'/'}"></a>
        <h2 class="col navbar-text d-inline-block text-white">Show Product</h2>
    </div>

    <div class="row col-6">
        <div class="card">
            <label class="card-header">Description:</label>
            <div class="card-body">
                <p th:text="${product.description}">Description</p>
            </div>
        </div>
        <div class="card">
            <label class="card-header">Price:</label>
            <div class="card-body">
                <p th:text="${product.price}">Price</p>
            </div>
        </div>
        <div class="card" th:if="${not#strings.isEmpty(product.imageUrl)}">
            <label class="card-header">Image URL:</label>
            <div class="card-body">
                <img class="img-thumbnail" th:src="${product.imageUrl}" alt="img"/>
            </div>
        </div>
    </div>
</div>

</body>
</html>