.container{
    border-left:1px solid #848484;
    border-right:1px solid #848484;
    border-bottom:1px solid #848484;
}
p{
    margin: 0;
}

.card{
    padding: 0;
    border-radius: 0;
}
.card-header{
    border-radius: 0;
}

.btn-custom{
    display: flex;
    align-self: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: white;
}